@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.terminal-section {
  background-color: #111;
  color: rgb(180, 225, 253);
  font-family: CascadiaCode, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  height: 80vh;
}
.gradient-vertical {
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.gradient-horizontal {
  background: linear-gradient(to right, #111 30%, transparent 70%);
}
.txt1 {
  color: rgb(255, 131, 8);
}

.txt2 {
  color: rgb(182, 182, 182);
}

.txt3 {
  color: rgb(131, 255, 8);
}

.txt4 {
  color: rgb(182, 182, 182);
}

.input {
  margin-left: 0.5rem;
  background: transparent;
  width: 90px;
  color: rgb(131, 255, 8);
  font-family: CascadiaCode, monospace;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  border: none;
  outline: none;
}

.output {
  height: fit-content;
  width: fit-content;
  color: rgb(180, 225, 253);
}
